{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %} API Pokebuild {% endblock %}

{% block body %}

<h1>Bienvenue sur Pokebuild, {{ username }}</h1>

{% endblock %}