{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 personnalisée</h1>

    <p>
      Ressource non trouvée, retourner à la page d'accueil <a href="{{ path('home') }}"></a>
    </p>
{% endblock %}