.form__header{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.form__pokemon-checkbox{
  margin-bottom: 1rem;
}

#team_submit{
  background-color:  #C14040;
  color: white;
  border-color: #C14040;
}

#team_submit:hover {
  background-color: #F3D9D9;
  color: #C14040;
  border-color:  #F3D9D9;
}

#team_submit{
  border: 1px solid #C14040;
}

#team_submit:hover{
  border: 1px solid #C14040;
}

.form__skills{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.form__skill{
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  margin-right: 0.75rem;
}

.form__skill > select{
  width: 100%;
  min-height: 1.5rem;
  max-height: 1.5rem;
}

@media (max-width: 1100px){
  .wrapper{
    max-width: 600px;
  }
  .form__pokemon-checkbox > * > * {
    width: 50%;
  }
}

@media (max-width: 500px){
  .form__pokemon-checkbox > * > * {
  width: 75%;
  }
  .form__pokemon-checkbox{
    justify-content: space-evenly;
  }
  .form-check{
    margin: auto;
  }
  .form__pokemon-checkbox{
    height: 55vh;
  }
  .form__pokemon-checkbox > *{
    height: 55vh;
  }
}