body {
  background-color: aliceblue;
}

.wrapper { 
  margin: 1em auto;
  max-width: 800px; 
  width: 95%; 
  font: 18px/1.5 sans-serif; 
}

li {
  margin-bottom: 1em;
}

.carousel-item {
  transition-duration: 0s;
  transition-delay: 0s;
}

.d-block {
  margin: auto;
}


.carousel-caption {
  color: black;
  text-align: right;
}

.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-control-prev-icon {
  filter: invert(100%);
}

#myCarousel {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1, h2 {
  text-align: center;
}

.form__pokemon-checkbox {
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  width: 130%;
  margin: auto;
}

.form__pokemon-label {
  text-align: center;
  font-weight: bold;
}

.form__pokemon-checkbox > *{
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.form__pokemon-checkbox > * > *{
  width: 16.65%;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.error404 {
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
}

img.displayed {
  margin-top: 5em;
  display: block;
  margin: auto;
}

button {
  margin-top: 2em;
}

.generateur {
  font-weight: bold;
}

.generateur_random {
  font-weight: bold;
  margin-top: 1em;
}

.title_404 {
  margin-top: 1em;
}





