body {
  background-color: #F3D9D9;
}

.wrapper { 
  margin: 1em auto;
  max-width: 800px; 
  width: 95%; 
  font: 18px/1.5 sans-serif; 
}

li {
  margin-bottom: 1em;
}

.carousel-item {
  transition-duration: 0s;
  transition-delay: 0s;
}

.d-block {
  margin: auto;
}


.carousel-caption {
  color: black;
  text-align: right;
}

.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-control-prev-icon {
  filter: invert(100%);
}

#myCarousel {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1, h2 {
  text-align: center;
}

.form__pokemon-checkbox {
  height: 65vh;
  display: flex;
  justify-content: space-between;
  width: 130%;
  margin: auto;
  position: relative;
}

.form__pokemon-label {
  text-align: center;
  font-weight: bold;
}

.form__pokemon-checkbox > *{
  height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  
}

.form__pokemon-checkbox > * > *{
  width: 25%;
}

#team_pokemon{
  width: 100%;
}


.form__search{
  width: 30%;
  margin: auto;
  display: inline-block;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.error404 {
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
}

img.displayed {
  margin-top: 5em;
  display: block;
  margin: auto;
}

button {
  margin-top: 2em;
}

.generateur {
  font-weight: bold;
}

.generateur_random {
  font-weight: bold;
  margin-top: 1em;
}

.title_404 {
  margin-top: 1em;
}

.hidden {
  display: none;
}

.card {
  background-color:  #F3D9D9;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

}

.btn-card {
  background-color:  #C14040;
  color: white;
}

.btn-card:hover {
  background-color: #F3D9D9;
  color: #C14040;
}

.img_card {
  width: 3em;
  height: 3em;
  align-self: flex-end;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.images {
  display: flex;
  flex-direction: column;
}

.card-body {
  margin-left: 2em;
}








